.shopping-cart-table {
  margin: 40px 0 100px 0;
}

.shopping-cart-table thead th {
  border-bottom: none;
}


.shopping-cart-table .total {
	text-align: right;
	font: 700 normal 34px / 1 sans-serif;
	text-transform: uppercase;
}

.shopping-cart-table button {
	margin-left: 5px;
}

.shopping-cart-table tr > *:last-child {
	text-align: right;
	padding-right: 0;
}

.shopping-cart-table tr > *:nth-child(1),
.shopping-cart-table tr > *:nth-child(3),
.shopping-cart-table tr > *:nth-child(4) {
	width: 60px;
}
.shopping-cart-table tr > *:nth-child(2) {
	width: calc(100% - 340px);
	font-weight: 600;
}

.shopping-cart-table tr > *:nth-child(5) {
	width: 160px;
}