.shopping-cart-table {
  margin-top: 40px;
}

.shopping-cart-table thead th {
  border-bottom: none;
}


.shopping-cart-table .total {
	text-align: right;
	font: 700 normal 34px / 1 sans-serif;
	text-transform: uppercase;
}

.shopping-cart-table button {
	margin-left: 5px;
}

.shopping-cart-table thead th:last-child,
.shopping-cart-table tbody tr td:last-child {
	text-align: right;
	padding-right: 0;
}